@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primary-black-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;

  --accent-color: #2196f3;
  --background-black: #21303a;
  --background-black-2: #2f303a;
  --background-black-240Perc: hsla(235, 10%, 21%, 0.4);

  --gray-1: #f5f4fa;
  --gray-2: #afb1b8;

  --primary-white-60Perc: hsla(0, 0%, 100%, 0.6);
  --primary-white-10Perc: hsla(0, 0%, 100%, 0.1);

  
  --button-primary-hover: #188ce8;
  --logo-black: #000000;
  --text-white-opacity: #ffffff99;

  --container-padding: calc((100% - 1200px) / 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
section{
  padding: 94px 0;
}
.button-primary{
  font-size: 16px;
  background-color: var(--accent-color) ;
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 700;

  border: none;
  outline: none;
  text-transform: capitalize;
  padding: 10px 20px;
}
.button-primary:hover{
  background-color: var(--button-primary-hover) ;

}

.container{
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

/* Header section  */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
.logo-black {
  color: var(--logo-black);
}
.logo-white {
  color: var(--primary-white-color);
}

.section > h2{
  color: var(--primary-black-color);
  font-size: 32px;
  font-weight: 700px;
  padding: 30px 0;
  text-align: center;
}

.no-top-pading{
  padding-top: 0;
}
a{
  text-decoration: none;
}
header{
  height: 80px;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .container nav{
  display: flex;
  align-items: center;
  gap: 100px;

}

header .container nav .logo{
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

header .container nav .navbar_menu{
  display: flex;
  list-style: none;
  gap: 80px;
}

header .container nav .navbar_menu .page {
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}

header .container .navbar_info{
  display: flex;
  list-style: none;
  gap: 80px;
}

header .container .navbar_info li .item {
  display:  flex;
  align-items:  center;
  gap: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-decoration: none;
  height: 20px;
}

header .container .navbar_info li .item .icon.email {
  fill: var(--primary-text-color);
  width: 20px;
  height: 12px;
}
header .container .navbar_info li .item .icon.smartphone {
  fill: var(--primary-text-color);
  width: 10px;
  height: 17px;
}

header .container .navbar_menu .page:hover,
header .container .navbar_menu .page:focus,
header .container .navbar_menu .page.current,
header .container .navbar_info li .item:hover,
header .container .navbar_info li .item:focus,
header .container .navbar_info li .item:hover .icon {
  color: var(--accent-color);
  fill: #03a9f4;
}
/* baner index section  */
.banner-index{
  background: url("../images/banner_index.jpg");
  background-blend-mode: overlay;
  padding: 200px var(--container-padding);
  position: relative;
  text-align: center;
}
.banner-index .baner-title{
  width: 500px;
  margin: 20px auto;
  color: var(--primary-white-color);
  font-size: 44px;
  text-transform: capitalize;
  position: relative;
  z-index: 5;
}

.banner-index button{
  position: relative;
  z-index: 5;
}
.banner-index .overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-black-240Perc);
  height: 100%;
  width: 100%;
}
/* features section */
.features .container .features_list{
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
}
.features .container .features_list li div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-1);
  border-radius: 15px;
  height: 120px;
  margin-bottom: 15px;
  width: 270px;
}
.features .container .features_list li div .icon-benefit{
  width: 70px;
  height: 70px;
}

.features .container .features_list li{
  list-style: none;
  width: 240px;
}

.features .container .features_list li .features_title{
  height: 50px;
  text-transform: uppercase;
  color: var(--primary-black-color);
}

/* what we do */
.what_do_we_do_section .container h2{
  color: var(--primary-black-color);
  font-size: 32px;
  font-weight: 700px;
  padding: 30px 0;
  text-align: center;
}
.what_do_we_do_section .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.what_do_we_do_section .container ul li{
  list-style: none;
  width: 360px;
}

/* our team section */
.our_team{
  background-color: var(--gray-1);
}
.our_team .container h2{
  color: var(--primary-black-color);
  font-size: 32px;
  font-weight: 700px;
  padding: 30px 0;
  text-align: center;
}
.our_team .container .team_cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
.our_team .container .card{
  background-color: var(--primary-white-color);
  text-align: center;
  list-style: none;
}
.card h3{
  margin: 20px 0 10px 0;
}
.card p{
  margin-bottom: 30px;
}
.our_team .container .team-cards .card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 10px 20px;
  margin-bottom: 20px;
}

.our_team .container .team-cards .card ul li{
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 25px;
}
.our_team .container .team-cards .card ul li a{
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 25px;
  height: 35px;
  width: 35px;
}

.our_team .container .team-cards ul li a .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
}

.our_team .container .team-cards ul li:hover a {
  background-color: var(--accent-color);
}
.our_team .container .team-cards ul li:hover a .icon {
  fill: var(--primary-white-color);

/* Portfolio page  */
.portfolio .menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
  list-style: none;
}

.portfolio .menu li button {
  border: none;
  outline: none;
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  padding: 10px 30px;

  text-decoration: none;
  text-transform: capitalize;
}

.portfolio .menu li button:hover,
.portfolio .menu li button.current{
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.list_cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.portfolio .cards{
  margin-bottom: 20px; 
  width: 360px;

  justify-content: space-between;
  flex-wrap: wrap;
 
  display: flex;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
}
.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.portfolio .cards  a h2{
  color: var(--primary-black-color);
  padding: 15px;
}

.portfolio .cards a p{
  color: var(--primary-text-color);
  font-size: 16px;
  padding: 15px;
}

.portfolio .cards>.space_of h2{
  /* line-height:0.7; */
  
  padding: 13px;
}

/* footer section  */
footer {
  padding: 94px var(--container-padding);
  background-color: var(--background-black);
}
address ul {
  list-style: none;
}
address .contact {
  display: block;
  color: var(--text-white-opacity);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  padding: 5px 0;
}
address .contact:hover {
  color: var(--primary-white-color);
}